.server-info {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
}

.teams {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.team {
  flex: 1;
  margin: 0 10px;
}

.team ul {
  list-style-type: none;
  padding: 0;
}

.team li {
  padding: 5px;
  border-radius: 5px;
}

.team li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}